section {
    display: flex;
    width: 95%;
    max-width: 580px;
    margin: 10px auto 10px auto;
}

.secondDiv,
.fourthDiv {
    margin-left: 10px;
}

.secondSection {
    margin-bottom: 70px;
}

img {
    border: 3px solid var(--blue-light);
    border-radius: 5px;
}

img:hover {
    opacity: 0.6;
    cursor: pointer;
}

h5{
    color: var(--green);
}

p{
    color: var(--blue-light);
}