<h1>Bienvenido a TaskGTD</h1>

<main>
    <p>En <strong>TaskGTD</strong>, hemos transformado la poderosa metodología de <strong>Getting Things Done (GTD) de
            David
            Allen</strong>
        en una experiencia intuitiva y efectiva para tu gestión personal y profesional. Nuestra aplicación te ofrece un
        espacio centralizado para liberar tu mente y organizar todas tus ideas en un solo lugar: la "Intray".</p>

    <section>
        <h2>¿Qué es la "Intray"?</h2>

        <p>La "Intray" o bandeja de entrada, es el corazón de TaskGTD. Es el espacio donde puedes volcar todas tus
            ideas,
            pensamientos y tareas pendientes, liberando así tu mente de la carga mental. Imagínala como tu caja de
            entrada
            personal, lista para recibir cualquier pensamiento que cruce tu mente.</p>

    </section>
    <section>
        <h3>Cómo funciona:</h3>

        <ol>
            <li>
                <p>Captura sin esfuerzo: Anota cualquier cosa que se te ocurra, ya sea una tarea urgente, un proyecto a
                    largo
                    plazo o simplemente una idea brillante. La "Intray" está siempre lista para recibir tus
                    pensamientos.
                </p>
            </li>
            <li>
                <p>Organización fácil: Una vez que hayas capturado tus ideas, clasifícalas en tareas individuales,
                    proyectos
                    o
                    elementos para revisar más adelante. Nuestra interfaz amigable facilita la organización según las
                    categorías
                    del método GTD.</p>
            </li>
            <li>
                <p>Enfoque sin distracciones: Con tus tareas organizadas, podrás concentrarte en lo que realmente
                    importa en
                    cada momento. Deja que TaskGTD se encargue de recordarte tus compromisos y proyectos
                    pendientes para que puedas enfocarte en la acción.</p>
            </li>
        </ol>
    </section>
</main>